.message-drawer {
  display: flex;
  flex-direction: column;
  background-color: oldlace;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 20%;
  max-height: 65px;
  border-bottom: 1px solid gray;
  background-color: rgb(244, 243, 241);
  cursor: context-menu;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.group-name-member-online {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.group-name-member-online h2 {
  font-weight: 500;
}
.group-name-member-online span {
  font-size: 10px;
  line-height: 20px;
  font-weight: 500;
  word-spacing: 3px;
}

.right {
  position: absolute;
  right: 20px;
  display: flex;
}

.right li button {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  border: transparent;
  background: transparent;
  color: #76b852;
  transition: 0.3s ease-in-out;
}

.right li button:hover {
  translate: -5px;
}

/*  Chat */
.chats {
  padding: 20px;
  overflow: scroll;
  height: 78%;
}

/*  Left Side User Chat */
.chat-container-left {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}
.chat-user-img-left {
  width: 50px;
}
.chat-user-img-left img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat-user-name-text-time-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.chat-user-name-text-time-left p {
  background-color: #76b852;
  padding: 15px;
  margin: 8px 0;
  border-radius: 0 14px 14px 14px;
  line-height: 25px;
}
.chat-user-name-text-time-left img {
  margin: 8px 0;
  border-radius: 14px;
}
.user-name-time-left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.user-name-time-left h4 {
  font-weight: 500;
}
.user-name-time-left span {
  font-size: 14px;
}

/*  Right Side User Chat  */
.chat-container-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  gap: 20px;
  margin: 15px 0;
}
.chat-user-img-right {
  width: 50px;
}
.chat-user-img-right img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat-user-name-text-time-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.chat-user-name-text-time-right p {
  background-color: #76b852;
  display: flex;
  justify-content: right;
  padding: 15px;
  margin: 8px 0;
  border-radius: 14px 0 14px 14px;
  line-height: 25px;
}
.chat-user-name-text-time-right img {
  margin: 8px 0;
  border-radius: 14px;
}
.user-name-time-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  gap: 12px;
  align-items: center;
}
.user-name-time-right h4 {
  font-weight: 500;
}
.user-name-time-right span {
  font-size: 14px;
}

/*  Send Message  */
.send-message-drawer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: rgb(244, 243, 241);
  border-top: 1px solid gray;
}

.send-message-drawer li .emoji-btn {
  font-size: xx-large;
  cursor: pointer;
  background: transparent;
  border: transparent;
  color: #76b852;
}
.send-message-drawer li input {
  width: 1100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #76b852;
}
.send-message-drawer li .send-btn {
  font-size: xx-large;
  cursor: pointer;
  background: transparent;
  border: transparent;
  color: #76b852;
}
.send-message-drawer li .microphone {
  font-size: xx-large;
  cursor: pointer;
  background: transparent;
  border: transparent;
  color: #76b852;
}
.send-message-drawer li .attachment {
  font-size: xx-large;
  cursor: pointer;
  background: transparent;
  border: transparent;
  color: #76b852;
}