.chat-drawer {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(244, 243, 241); 
    min-width: 300px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
.chat-drawer .logo{
    margin: 12px 0;
}
.search-bar-container {
    margin: 10px 0;
    width: 100%;
}
.search-bar{
    width: 90%;
    margin: auto;
}

.search-bar input {
    width: 100%;
    background-color: rgb(216, 216, 216);
    border: none;
    border-radius: 15px;
    padding: 10px 0 10px 35px;
}

.search-bar input::placeholder {
    color: black;
}

.search-bar i {
    position: absolute;
    padding: 10px;
    text-align: center;
    max-width: 20px;
}

.chat-drawer h1 {
    font-size: xx-large;
    text-align: left;
    margin: 10px 0 0 20px;
    cursor: context-menu;
    font-weight: 500;
    color: #76b852;
}

.group-container {
    flex-grow: 1;
    height: 83%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 450px){
    .chat-drawer {
        width: 100%;
        min-width: 0px;
    }
}

